[submodule "fugitive"]
path = .vim/bundle/fugitive
url = https://github.com/tpope/vim-fugitive.git

[submodule "syntastic"]
path = .vim/bundle/syntastic
url = https://github.com/scrooloose/syntastic.git

[submodule "nerdcommenter"]
path = .vim/bundle/nerdcommenter
url = https://github.com/scrooloose/nerdcommenter.git

[submodule "easymotion"]
path = .vim/bundle/easymotion
url = https://github.com/Lokaltog/vim-easymotion.git

[submodule "nerdtree"]
path = .vim/bundle/nerdtree
url = https://github.com/scrooloose/nerdtree.git

[submodule "supertab"]
path = .vim/bundle/supertab
url = https://github.com/ervandew/supertab.git

[submodule "gundo"]
path = .vim/bundle/gundo
url = http://github.com/sjl/gundo.vim.git

[submodule "solarized"]
path = .vim/bundle/solarized
url = https://github.com/altercation/vim-colors-solarized.git

[submodule "surround"]
path = .vim/bundle/surround
url = https://github.com/tpope/vim-surround.git
